@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes centro {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes codigo {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(30px);
    }
}
@keyframes fondo {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}