//tipografia//
$ubuntu: 'Ubuntu', sans-serif;
$popins:'Poppins', sans-serif;

//color//
$black: #000000;
$sable: #060606;
$charcoal: #2E1503;
$white: #ffffff;
$tangerine: #ffaf6d;
$orange: #ffa500;

//font sizes//
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx_large: 40px;
$xx-large: 35px;
$x-large:30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//font weight//

$normal: 400;
$negrita: 700;


//media query
$small-media: 600px;